@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  direction: rtl;
}

section {
  background: url(assets/bg.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .container {
  min-width: 35%;
  max-width: 90%;
  margin-inline: auto;
  background: #332a224e;
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
}

section .top_sec {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  section .top_sec {
    flex-direction: column;
    gap: 30px;
  }
}


section .top_sec select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: #a54f3a;
  padding: 2px 10px;
  color: #fff;
  font-size: 1.375rem;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: 1.625rem;
  color: #fff;
}

section .top_sec .date {
  width: 250px;
}

section .top_sec .date h4 {
  font-size: 1.625rem;
  color: #fff;
}

section .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: #c0583e75;
  margin-bottom: 25px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #d7d7d74e;
}

@media screen and (max-width: 768px) {
  section .top_sec h3,
  section .top_sec .date h4 {
    font-size: 1.25rem;
  }

  section .top_sec select {
    font-size: 1rem;
  }

  section .prayer {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 480px) {
  section .top_sec h3,
  section .top_sec .date h4 {
    font-size: 1rem;
  }

  section .top_sec select {
    font-size: 0.875rem;
  }

  section .prayer {
    font-size: 1rem;
  }
}